/* Cleaned up default App styling */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.standard-layout>main {
  padding-top: 110px;
}